.footer
  .about
    %p= @about_text

    %p
      Check out just the
      %a{:href => "/photos/"} photos
      , the
      %a{:href => "/tweets/"} tweets
      or
      - if @domain_root != "oyekids"
        follow me on
        %a{:href => "http://twitter.com/#{@site_slug}"} Twitter

  .links
    %ul
      %li Other sites in our little network:
      %li
        Mom’s store
        %a{:href => "http://www.oyemodern.com"} Oye Modern
        and her
        %a{:href => "http://jenioye.com"} personal site
      %li
        Dad’s work
        %a{:href => "http://moment.com.au"} Moment 
        and his
        %a{:href => "http://philoye.com"} personal site
      %li
        Mom and Dad’s
        %a{:href => "http://philandjeni.com/wedding"} wedding
        and trip from 
        %a{:href => "http://philandjeni.com/ny-to-sydney"} NY to SYD
