.footer
  .about
    %p My name is Felix Oye and this is my little corner of the web. For all of my adoring fans around the world, I built this site so you can keep with my continuing adventures.

  .links
    %ul
      %li 
        Hate words? Check out just the
        %a{:href => ""} photos
      %li
        Fan of the written word? Read just the  
        %a{:href => ""} tweets
      %li
        Need your fix in real time? Follow me on
        %a{:href => "http://twitter.com/felixoye"} Twitter
      %li
        Wearing fancy pants? Grab the
        %a{:href => "http://twitter.com/felixoye"} RSS feed

  .links
    %ul
      %li Other sites in our little "network":
      %li
        Mom's store,
        %a{:href => "http://www.oyemodern.com"} Oye Modern
        and
        %a{:href => "http://jenioye.com"} personal site
      %li
        Dad's sites:
        %a{:href => "http://moment.com.au"} Moment
        and
        %a{:href => "http://philoye.com"} personal site
      %li
        Mom and Dad's
        %a{:href => "http://philandjeni.com/wedding"} wedding site
