.header
  %ul.grid.navigation
    %li
      %img{:src => "http://farm4.static.flickr.com/3226/3154604169_4f780915cf_s.jpg", :width => "75", :height =>"75" }

  %h1= $config['name']
  %ul.grid.navigation
    %li
      %a{:href => "#"} Oye kids
    %li
      %a{:href => "#"} Simon
    %li
      %a{:href => "#"} Jessica
    %li
      %a{:href => "#"} Felix
