.header
  .avatar
    %a{:href=>"/"}
      %img{:src => @site_config.avatar, :width => "75", :height =>"75" }
  %h1
    %a{:href=>"/"}= @site_config.site_name

  %ul.grid.navigation
    %li.nav-oyekids
      %a{:href => "http://www.oyekids.com/"} Oye kids
    %li.nav-simonoye
      %a{:href => "http://www.simonoye.com/"} Simon
    %li.nav-jessicaoye
      %a{:href => "http://www.jessicaoye.com/"} Jessica
    %li.nav-felixoye
      %a{:href => "http://www.felixoye.com/"} Felix
