.header
  .avatar
    %a{:href=>"/"}
      %img{:src => @avatar, :width => "75", :height =>"75" }
  %h1
    %a{:href=>"/"}= @site_name

  %ul.grid.navigation
    %li
      %a{:href => "http://oyekids.com/"} Oye kids
    %li
      %a{:href => "http://simonoye.com/"} Simon
    %li
      %a{:href => "http://jessicaoye.com/"} Jessica
    %li
      %a{:href => "http://felixoye.com/"} Felix
