.header
  .avatar
    %a{:href=>"/"}
      %img{:src => $config['avatar'], :width => "75", :height =>"75" }
  %h1
    %a{:href=>"/"}= $config['name']

  %ul.grid.navigation
    %li
      %a{:href => "http://oyekids.com/"} Oye kids
    %li
      %a{:href => "http://simonoye.com/"} Simon
    %li
      %a{:href => "http://jessicaoye.com/"} Jessica
    %li
      %a{:href => "http://felixoye.com/"} Felix
