.header
  %ul.grid.navigation
    %li
      %img{:src => $config['avatar'], :width => "75", :height =>"75" }

  %h1= $config['name']
  %ul.grid.navigation
    %li
      %a{:href => "#"} Oye kids
    %li
      %a{:href => "#"} Simon
    %li
      %a{:href => "#"} Jessica
    %li
      %a{:href => "#"} Felix
