.header
  %ul.grid.navigation
    %li
      %a{:href => "#"} Oye.com.au
    %li
      %a{:href => "#"} Simon
    %li
      %a{:href => "#"} Jessica
    %li
      %a{:href => "#"} Felix
  %h1= $config['name']
  