.header
  %ul.grid.navigation
    %li
      %a{:href => "#"} Oye HQ
    %li
      %a{:href => "#"} The kids
    %li
      %img{:src => "http://farm4.static.flickr.com/3226/3154604169_4f780915cf_s.jpg", :width => "75", :height =>"75" }

  %h1= $config['name']
  %ul.grid.navigation
    %li.philoye
      %a{:href => "#"} Phil
    %li.jenioye
      %a{:href => "#"} Jeni
    %li.simonoye
      %a{:href => "#"} Simon
    %li.jessicaoye
      %a{:href => "#"} Jessica
  