- @page_title = "error"
- @body_class = "error"

%p
  %strong Oh poop!
  Looks like there was an error:
  &= @error

%p
  Drop an email to <span class="email">felix@#{thisdomain}</span> and I'll get right onto it.