!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }

    %link{:href => versioned_stylesheet('oye_base'), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %title Felix Oye
    
  %body{:class => options.siteslug}
    .container{:class => ''}

      = partial :header
      .content
        = yield
      
      = partial :footer
