/* -------------------------------------------------------------- 
  Resets default browser CSS.
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }



/* -------------------------------------------------------------- 
  My stuff
-------------------------------------------------------------- */

body {
  font-family: "helvetica";
  background-color: #222;
  color: #ddd;
  margin: 23px;
}

.container {
  width: 948px;
  
}
.header {
  height: 75px;
  margin-bottom: 79px;
}
.content {
  clear: both;
  overflow: auto;
  background: url('../images/bg-grid.gif') repeat;
}
.footer {
  clear: both;
  overflow: auto;
  margin: 2px;
  margin-top: 79px;
  height: 154px;
  width: 944px;
  color: #777;
  font-size: 13px;
}
  .footer a {
    color: #999 !important;
    text-decoration: none;
    border-bottom: 1px solid #666;
  }
    .footer ul li a:hover {
      color: #fff !important;
      background-color: transparent !important;
      border-bottom: 1px solid #ccc;
    }
  .footer .about {
    float: left;
    width: 292px;
    padding-right: 20px;
  }
  .footer .links {
    float: left;
    margin-left: 4px;
    width: 292px;
    padding-right: 20px;
  }
  .footer .links ul {
    list-style: none;
  }


h1 {
  color: #ccc;
  font-size: 48px;
  font-weight: bold;
  margin: 2px;
  float: left;
  height: 75px;
  padding-left: 5px;
  width: 540px;
}
  h1 span {
    font-weight: normal;
  }
  h1 div.icon {
    float: left;
  }


h2 {
  float: left;
  height: 65px;
  width: 65px;
  padding: 5px;
  margin: 2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  background-color: #1b1b1b;
  color: #666;
  text-align: center;
  letter-spacing: 1px;
}
  h2 span {
    display: block;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -1px;
  }




ul.navigation {
  background-color: #222;
}
  ul.navigation li {
    list-style: none;
    float: left;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
  }
    ul.navigation li a {
      height: 65px;
      margin: 2px;
      padding: 5px;
      width: 65px;
      display: block;
      background-color: #333;
      text-decoration: none;
    }
      ul.navigation li a:hover {
        color: #222;
        background-color: #ccc;
        border: 0;
        text-decoration: none;
      }


ul.grid li {
  list-style: none;
  float: left;
}
  li.tweet {
    color: #999;
    background-color: #1b1b1b;
    font-size: 12px;
    line-height: 15px;
    margin: 2px;
    height: 65px;
    padding: 5px;
    width: 302px;
  }
ul.grid a {
  text-decoration: none;
}

img {
  display: block;
}
li img{
  border: 2px solid #222;
}
  li.photo a:hover img {
    border: 2px solid #ccc;
  }

.photo-details {
  float: left;
  width: 632px;
}
  .photo-details img {
    margin: 2px;
    -ms-interpolation-mode:bicubic;
  }
.comments {
  background-color: #1b1b1b;
  padding: 5px;
  float: left;
  width: 302px;
  margin: 2px;
}


.felixoye h1, .felixoye a { color: cyan;}
.jessicaoye h1, .jessicaoye a { color: red;}
.simonoye h1, .simonoye a { color: #bf0;}
.oyekids h1, .oyekids a { color: #bf0;}

.felixoye a:hover { color:#222; background-color: cyan !important; }
.jessicaoye a:hover { color:#222; background-color: red !important; }
.simonoye a:hover   { color:#222; background-color: #bf0 !important; }
.oyekids a:hover   { color:#222; background-color: #bf0 !important; }

.felixoye a:hover img { border-color: cyan !important; }
.jessicaoye a:hover img { border-color: red !important; }
.simonoye a:hover img { border-color: #bf0 !important; }
.oyekids a:hover img { background-color: #bf0 !important; }

br {
  clear: both;
}

